black
cruft
flake8
formic2
ipython
isort
livereload
markdown-blockdiag
markdown-include
mkdocs-macros-plugin
mkdocs-material
mypy
nuitka
pip-tools
pipdeptree
portray
pp-ez
pre-commit
pymdown-extensions
pytest
pytest-cov
setuptools-scm
tox
watchdog
wheel
