black
blessings==1.7
click-aliases>=1.0.1
cruft
flake8
formic2
httpx==0.11.1
ipython
isort
livereload
mypy
nuitka
pathspec==0.7.0
pip-tools
pipdeptree
portray
pp-ez
pre-commit
prompt-toolkit==3.0.3
pydriller==1.10.1
pytest
pytest-cov
setuptools-scm
tings
tox
treelib==1.6.1
uvloop==0.14.0; platform_system == "Linux"
watchdog
wheel
