black
blessings==1.7
click-aliases>=1.0.1
cruft
flake8
formic2
httpx==0.11.1
ipython
isort
livereload
mypy
nuitka
pathspec==0.7.0
pip-tools
pipdeptree
portray
pp-ez
pre-commit
pydriller==1.10.1
pytest
pytest-cov
setuptools-scm
tings
tox
watchdog
wheel
